<!DOCTYPE html>
<html>
<head>
  <title>Kiyber</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Kiyber</a>
      </div>
      <div>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <li><a href="#">Messages</a></li>
            <li><a href="#">User</a></li>
            <li><a href="#">Menu</a></li>
          <% else %>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Menu/a></li>
          <% end %>
          <li class="active">
          <%= link_to "Post a new item", new_item_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="item-list">
    <div id="main_content">
      <div id="header">
      <% if current_page?(items_path) %>
        <p>All Items</p>
        <% if user_signed_in? %>
          <div class="buttons">
            <button class="button">Log Out</button>
          </div>
        <% else %>
          <p>Test</p>
          <div class="buttons">
          <button class="button"><%= link_to "Sign up", new_user_registration_path %></button>
          </div>
        <% end %>
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <%= link_to "Back to All Items", items_path %>
      <% end %>
      </div>

      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <footer id="footer">
    <nav class="navbar navbar-default navbar-bottom" id="navcontainer" role="navigation">
      <div class="container">
        <p class="muted credit">2015© Kiyber</p>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><a href="https://facebook.com/kiyber">Facebook</a></li>
          <li><a href="https://twitter.com/kiyber">Twitter</a></li>
          <li><a href="mailto:info@kiyber.com">Email</a></li>
        </ul>
      </div>
    </nav>
  </footer>

</body>
</html>
